{% extends 'todo_lists/base.html' %}
{% load static %}

{% block content %}

<body>
    <main>
        <div>
            <h1>are you sure you want to delete this...forever?</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Delete</button>
            </form>
        </div>
    </main>
</body>

</html>
{% endblock content %}