{% extends 'todo_lists/base.html' %}
{% load static %}

{% block content %}

<body>
    <main>
        <div>
            <h1>{{ list.name }}</h1>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <li>
                        <a href="{% url 'todo_list_list' %}">My list</a>
                        <a href="{% url 'todo_list_update' list.id %}">Edit</a>
                        <a href="{% url 'todo_list_delete' list.id %}">Delete</a>
                    </li>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in list.items.all %}
                    <tr>
                        <td>{{item.task}}</td>
                        <td> {{ item.due_date|date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

</body>

</html>

{% endblock content %}