{% extends 'todo_lists/base.html' %}
{% load static %}

{% block content %}

<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <table>
                <thead>
                    <p>
                        <a href="{% url 'todo_list_create' %}">New list</a>
                    </p>
                    <p>
                        <a href="{% url 'todo_item_create' %}">New Item</a>
                    </p>

                    <tr>
                        <th>Name</th>
                        <th>Number of items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for list in lists %}
                    <tr>
                        <td>
                            <a href="{% url 'todo_list_detail' list.id %}">{{list.name}}</a>
                        </td>
                        <td> {{ list.items.all|length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

</body>

</html>

{% endblock content %}